* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* holds the grid*/
.container
{
    display: flex;
    flex-direction: column;
}

/* contains the boxes */
.row
{
    display: flex;

}

/* the box */
.column
{
    height: 20px; 
    flex: 1; 
    border: 1px solid black;
}


/* This class gets added to the div on hover, to turn the div black */
.ink
{
    background: black;
}

.reset
{
    display: flex;
    justify-content: center;
}



