* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


/* holds the grid*/
.container
{
    display: flex;
    flex-direction: column;
}

/* contains the boxes */
.row
{
    display: flex;
    justify-content: center;

}

/* the box */
.column
{
    height: 20px; 
    width: 20px;
    border: 1px solid black;
}


/* This class gets added to the div on hover, to turn the div black */
.ink
{
    background: black;
}

/* Reset Button */
.reset
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#reset
{
    background-color: rgb(255, 104, 104);
    border: none;
    padding: 10px
}

#reset:hover
{
    background-color: rgb(255, 61, 61);
}

/* Etch-a-Sketch Title */
.header
{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

/* credits */
.credits
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px;
    width: 300px;
    padding: 20px
}



